body{
    background: linear-gradient(pink, purple);
    background-image:url("images/background-image-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

button{
    background-color: red;
    color: white;
    font-family: "press Start 2P", "consolas";
    font-size: 35px;
    border-radius: 15px;
    width: 250px;
    height: 100px;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.padditems{
    padding-top: 10px;
}

h1{
    color: red;
    /* font properties */
    font-family: "press Start 2P","consolas";
    font-size: 75px;
    text-align: center;
    /*Text shadow*/
    text-shadow: 2px 2px 10px #800020;
    /*Border styling*/
    border-top-style: dotted;
    border-bottom-style: dotted;
}

p{
    /* background-color: pink; */
    border-radius: 10px;
    text-align: center;
    /* color: #800020; */
    color: white;
    text-shadow: 5px 5px 10px  rgb(255, 0, 85);
    font-family: "press Start 2P","consolas";
    font-size:35px;
}
